.contenedor {
    background-color: rgb(51, 49, 49);
    display: grid;
    place-content: center;
    border: 1px solid grey;
    padding: 13px;
}

body {
    background-color: black;
    color: white;
    display: grid;
    place-content: center;
    font-family: monospace;
}

input{
    border-radius: 7px;
    background-color: black;
    color: white;
    font-size: 10px;
    height: 13px;
}

button{
    background-color: green;
    padding: 4px 0px 4px 0px;
    font-size: 10px;
    font-weight: bold;

    border-radius: 7px;
}

.separacion{
    margin: 5px 0px 5px 0px;
}